body {
    background: #262626;
    color:#fff;
    margin:0;
}

.rowHeader {
    width:100%;
    margin-top:10px;
    background:transparent;
    border-bottom: 3px solid #FF0057;
    display: grid;
    grid-template-columns: 40% auto 40%;
    align-items: center;
    grid-auto-rows: minmax(50px, auto);
    gap: 50px;
}

.headerRowItem1{
    grid-column: 1;
    grid-row: 1;
}

.headerRowItem2{
    grid-column: 3;
    grid-row: 1;
}

.row1 {
    width:100%;
    margin-top:10px;
    background:transparent;
    border-bottom: 3px solid lightgray;
    display: grid;
    grid-template-columns: 33% auto 33%;
    align-items: center;
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.row2 {
    width:100%;
    margin-top:10px;
    background:transparent;
    border-bottom: 3px solid lightgray;
    display: grid;
    grid-template-columns: 33% auto 33%;
    align-items: center;
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}


.rowItem1{
    grid-column: 1;
    grid-row: 1;
}

.rowItem2{
    grid-column: 2;
    grid-row: 1;
}

.rowItem3{
    grid-column: 3;
    grid-row: 1;
}
#price-container {
    margin-left: 20%;
    background:#353535;
    padding: 0 10px;
    text-align:center;
}
#goal-container {
    padding:20px;
}
input{
    background-color: transparent;
    color: whitesmoke;
    margin:0;
}
.subtext {
    font-size:.8em;
    text-transform:uppercase;
    margin-bottom: 10px;
}
h1 {
    margin: 0 0 10px 0;
}

button {
    float:right;
    background:#FF0057;
    border:none;
    color:#fff;
    text-transform:uppercase;
    padding:10px;
    margin-right: 30px;
    cursor:pointer;
}